* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  header {
    padding: 40px;
    justify-content: center;
    text-align: center;
  }

  h1{
    font-size: 150%;
    font-weight: bolder;
  }

  header p {
    font-size: 80%;
    padding: 10px;
    line-height: 1.3;
  }

  nav {
    padding: 10px;
  }

  .timer {
    color:#60044c;
    float: right;
  }

  .highscores {
    justify-content: flex-start;
    color:#60044c;
    float: left;
  }

  button {
    color:white;
    padding: 10px;
    margin: 10px;
    background-color: #60044c;
    border-radius: 15%;
  }

  main {
    margin-left: 25%;
    margin-right: 25%;
    flex: 0 0 80%;
}

.question {
        display: none;
    }

.result {
    border-top: 3px solid gray;
    color:grey;
    display: none;
}

.alldone {
    display: none;
}

.form{
    padding: 15px;
    margin: 0%
}

.finalscore {
    padding: 5px;
    color:#60044c;
    font-weight: bold;
}